<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/login-style.css?v=1') }}">
  </head>
  <body>
  <section class="login-form">
    <h1>🌉 교량 하면 점검용 로보캠 및 운용 시스템</h1>
    <form action="">
      <div class="int-area">
        <input type="text" id="id" name="id" autocomplete="off" onkeyup="checkInputs()" required>
        <label for="id">ID</label>
      </div>
      <div class="int-area">
        <input type="password" id="password" name="password" autocomplete="off" onkeyup="checkInputs()" required>
        <label for="password">Password</label>
      </div>
      <div class="btn-area">
        <button type="button" id="loginBtn" onclick="login()" disabled>Login</button>
      </div>
    </form>
    </section>
    <script>
      function checkInputs() {
			let id = document.getElementById("id").value;
			let pw = document.getElementById("password").value;
			let loginBtn = document.getElementById("loginBtn");

			if (id != "" && pw != "") {
				loginBtn.disabled = false;
			} else {
				loginBtn.disabled = true;
			}
		}
      async function login() {
        const user_id = document.getElementById("id").value;
        const password = document.getElementById("password").value;
        let details = {
          'username': user_id,
          'password': password
        };
        let formBody = [];
        for (let prop in details){
          let encodedKey = encodeURIComponent(prop);
          let encodedValue = encodeURIComponent(details[prop]);
          formBody.push(encodedKey + "=" + encodedValue);
        }
        formBody = formBody.join("&");
        const response = await fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          body: formBody
        });
        const data = await response.json();
        console.log(data);
        if (response.ok) {
          document.cookie = `Authorization=Bearer ${data.access_token}; path=/; max-age=1800`;
          window.location.href = "/index";
        } else {
          alert(data.detail);
        }
      }
    </script>
  </body>
</html>
